@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  margin: 0; }

.layout-default .page-content {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em; }
  .layout-default .page-content:after {
    content: "";
    display: table;
    clear: both; }

.layout-default .site-footer {
  max-width: 73.75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em; }
  .layout-default .site-footer:after {
    content: "";
    display: table;
    clear: both; }

button, .button {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box; }
  button:hover:not(:disabled), .button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
    background-image: linear-gradient(#2f87ea, #086fe3); }
  button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3; }
  button:disabled, .button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
  button:hover, .button:hover {
    color: white; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    max-width: 73.75em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .nav {
        float: left; } }
  header.navigation ul#navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-left: 1em;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-weight: 400; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-left: 1em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(255, 255, 255, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-left: 0; }
    header.navigation li.more a {
      padding-left: 1em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: .8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0.1875em;
            border-top-right-radius: 0.1875em; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: .7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: left;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 1.2em;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #477DCA;
    border-radius: 0.1875em;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 53.75em) {
      header.navigation a.sign-up {
        padding: .5em 1em; } }
    header.navigation a.sign-up:hover {
      background: #6f99d5; }
  header.navigation .search-bar {
    padding: .85em .6em;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 0.375em;
        margin: 0; }
        @media screen and (min-width: 53.75em) {
          header.navigation .search-bar .search-and-submit input[type=search] {
            width: 100%; } }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #363636;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 gray;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #595959;
        background-image: -webkit-linear-gradient(#595959, #3d3d3d);
        background-image: linear-gradient(#595959, #3d3d3d);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #2b2b2b;
        background-clip: padding-box;
        border: 1px solid #3a3131;
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 gray;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #595959;
        background-image: -webkit-linear-gradient(#595959, #433838);
        background-image: linear-gradient(#595959, #433838);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #322525;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #666666;
          cursor: pointer;
          background-color: #4d4d4d;
          background-image: -webkit-linear-gradient(#4d4d4d, #363636);
          background-image: linear-gradient(#4d4d4d, #363636); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #363636;
          box-shadow: inset 0 0 8px 4px #2e2e2e, inset 0 0 8px 4px #2e2e2e; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 #666666;
          cursor: pointer;
          background-color: #4d4d4d;
          background-image: -webkit-linear-gradient(#4d4d4d, #3a3131);
          background-image: linear-gradient(#4d4d4d, #3a3131); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #3a3131;
          box-shadow: inset 0 0 8px 4px #312b2b, inset 0 0 8px 4px #312b2b; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

/* No files to import found in vendor/* */

/*# sourceMappingURL=style.css.map */
